@import 'open-color/open-color';
@import '../../../packages/excalidraw/css/variables.module';

@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/blue.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/gray-dark.css';
@import '@radix-ui/colors/blue-dark.css';
@import '@radix-ui/colors/green-dark.css';
@import '@radix-ui/colors/red-dark.css';

// HACK Override style of saved password field in google chrome
input:-webkit-autofill {
  -webkit-box-shadow: 200px 200px 100px white inset;
  box-shadow: 200px 200px 100px white inset;
  border-radius: var(--radius-1);
}

a {
  text-decoration: none;
  color: inherit;
}

// html,
// body {
//     // margin: 0px;
//     // height: 100%;
// }

.editable-text {
  cursor: text;

  &:hover {
    background-color: var(--blue-a3);
  }
}

.objective-plus-app {
  background-size: contain;

  // re-define globals at `public/index.html`
  overflow: scroll;

  .objective-header {
    min-height: 40px;
    background-color: var(--gray-2);
    box-shadow: 0px 0px 10px var(--gray-3);

    z-index: 10;
  }

  .objective-card {
    background-color: var(--gray-1);
    border-radius: var(--radius-1);
    border: 1px solid var(--blue-7);
  }

  .scene-card {
    background-color: var(--gray-1);
    box-shadow: 0px 0px 10px var(--gray-3);
    border: 1px solid var(--gray-1);

    // cursor: pointer; // ???

    &.ghost {
      opacity: 70%;
      background-color: initial;
    }

    &:hover {
      border: 1px solid var(--blue-7);

      &.ghost {
        opacity: 100%;
      }

      &:active {
        background-color: var(--gray-2);
      }
    }
  }

  .objective-box {
    // no radius
    background-color: var(--gray-1);
    box-shadow: 0px 0px 10px var(--gray-3);
  }

  .error-border {
    border: 1px solid var(--red-9);
  }

  .toggled-item {
    // cursor: pointer; // ???

    // toggled
    &.active {
      background-color: var(--blue-3);
    }

    &:hover {
      background-color: var(--blue-3);

      // toggled
      &.active {
        background-color: var(--gray-3);
      }
    }
  }
}
