@import '../../../packages/excalidraw/css/variables.module';

.storyboard-images {
  // container

  --rad: 5px;
  --big-rad: 10px;

  display: flex;
  flex-direction: column;

  fieldset {
    img {
      width: 185px; // TODO inherit size from parent
    }
  }
}
