@import 'open-color/open-color';
@import '../../css/variables.module';

@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/violet.css';
@import '@radix-ui/colors/mauve.css';

// HACK Override style of saved password field in google chrome
input:-webkit-autofill {
  -webkit-box-shadow: 200px 200px 100px white inset;
  box-shadow: 200px 200px 100px white inset;
  border-radius: var(--radius-3);
}

a {
  text-decoration: none;
  color: inherit;
}

// html,
// body {
//     // margin: 0px;
//     // height: 100%;
// }

.debug {
  border: 1px dashed red;
}

.objective-plus-app {

  // re-define globals at `public/index.html`
  overflow: scroll;

  .objective-header {
    min-height: 40px;
    background-color: var(--gray-a2);
    border-bottom: 1px solid var(--blue-a3);
  }

  .objective-card {
    background-color: var(--gray-a2);
    border-radius: var(--radius-6);
    border: 1px solid var(--blue-a7);
  }

  .error-border {
    border: 1px solid var(--red-9);
  }

}
