/* TODO refactor to scss file! */

.container {
    margin: 1px;
    padding: 10px;

    display: flex;
    /* justify-content: center; */
    border: 1px solid var(--color-primary-light);
    border-radius: 5px;
}

.shotNumber {
    flex-basis: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid grey;
    text-align: center;
    /* margin-right: auto; */

    /* text style */
    color: var(--color-primary);
    font-size: 1.2em;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.name {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;

    /* border: 2px solid red; */
}